
/*-------------------------------------------  general -------------------------------------------------------*/
body{
	width:100%;
	margin:0 auto;
	font-size: 62.5%;
	font-family: helvetica, arial, sans-serif;
	color:#545257; /*changes color of the whole text*/
	margin-top: 0;
}
/*#wrapper{
	width:100%;
	width:960px;
	margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
	-webkit-box-shadow: 0px 0px 5px #ececec;
	-moz-box-shadow:    0px 0px 5px #ececec;
	box-shadow:         0px 0px 5px #ececec;

}*/
/*-------------------------------------------  header -------------------------------------------------------*/

header{
	height:50px;
	background:#000;
	border-bottom: 1px solid #bbb8bf; /*changes color of border under project name*/
}
#top{
	overflow:auto;
	max-width:1130px;
	margin:0 auto;
	height:50px;
	line-height:50px;
}
#top h1{
	background-image:url("../images/logo.png");
	background-repeat:no-repeat;
	background-position:center;
	text-indent:-999em;
	width:220px;
	height:50px;
	float:left;
	padding:0;
	/*margin:0 20px 0 0;
	padding:0;
	float:left;
	font-family: 'Ubuntu', sans-serif;
	font-weight:500;
	color:#fff;
	letter-spacing:1px;*/
}
#top form{
	float: left;
    background: #484848;
    line-height: normal;
    margin: 8px 0 0 0;
}
#top a{
	float:right;
	font-family: 'Ubuntu', sans-serif;
	font-weight:500;
	color:#fff;
	background: transparent url("../images/icon2.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}
input[type="text"]{
	height: 30px;
    background: none;
    border: none;
    margin: 1px 0 0 10px;
    font-family: 'Ubuntu', sans-serif;
}
input[type="text"]:focus{
	outline:none;
}
input[type="submit"]:hover{
	cursor: pointer;
}
input[type="submit"]{
	background: transparent url("../images/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999em;
    width: 16px;
    height: 16px;
    border: none;
    margin:0 0 0 10px;
}
h1{
	margin-top: 0;
	padding-top: 10px;
}
h2{
	margin-top: 20px;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
	background: #f7f7f9;  /*changes color of the background of the table*/
	border-collapse: collapse;
	width: 100%;
}
tr{
	display: table-row;
	border-color: inherit;
}
.odd{
	background: #ececec; /*changes color of the stripes table*/
}
th{
	text-align: left;
	padding: 1em 1em .5em;
	font-weight: bold;
	font-size: 120%;
	/*color: #545257;  changes color of table hd text*/
	/*background: #bbbcc0; changes color of table hd background*/
	background:#007fb9;
	color:#fff;
}
th:first-child{
	/*border-right: 1px solid #6a7680;*/
}
td{
	padding: 1em 1em;
	width: 69%;
}
td:first-child{
	/*border-right: 1px solid #6a7680;*/
}
/*-------------------------------------------  top section-------------------------------------------------------*/
.feature{
	background:url("../images/bahamas3.png");
	/*background-size:cover;*/
	background-repeat:no-repeat;
	background-position:center 0;
	height:500px;
}
.slogan{
	width:800px;
	margin:0 auto;
	padding:150px 0;
	text-align:center;
}
.slogan h1{
	font-family: 'Ubuntu', sans-serif;
	font-weight:500;
	font-size:60px;
	color:#ffffff;
}
.slogan a{
	display:block;
	color:#fff;
	border:1px solid #fff;
	padding:10px 15px 10px 15px;
	width:200px;
	margin:0 auto;
}
.main{
	overflow: auto;
	border-bottom: 1px solid #bbb8bf;
	max-width:1130px;
	margin:30px auto;
}
.main h2{
	font-size:30px;
}
.main p{
	width: 67.5%;
	float: left;
	font-size: 1.4em;
	line-height: 30px;
    letter-spacing: .21px;

}
.main figure{
	float: right;
	margin: 0px 0 20px 0;
	width: 30%;
}
.main figure figcaption{
	padding-left:20px;
}
figure img{
	width: 100%;
}
.sec{
	clear: both;
	margin-top: 40px;
	max-width:1130px;
	margin:0 auto;
	
}

/*-------------------------------------------  links -------------------------------------------------------*/
a{
	text-decoration: none;
	font-size: 1.3em;
	color: #475a80;  /*changes color of the links*/
}
a:hover{
	text-decoration: underline;
}
/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 90%;
}
/* ------------------------------------------- Media Queries -------------------------------------------------------*/


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#wrapper{
			width:98%;
		}	
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#wrapper{
			width:98%;

		}
		.main figure{
			width: 35%;
		}
		.main figure img{
			width: 100%;	
		}
		.main p{
			width: 60%;	
		}
		td{
			width: 50%;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#wrapper{
			width: 95%;
	
		}
		.main, header, h2{
			padding-left: 1%;
			padding-right: 1%;
		}
		.main figure{
			width: 100%;
			float: right;
		}
		.main p{
			width: 98%;
		}
		.main figure img{
			width: 100%;
		}
		td{
			width: 50%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#wrapper{
			width: 98%;
			min-width: 480px;
			max-width: 767px;
		}
		.main p{
			width: 100%;
		}
		td{

			width: 50%;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#wrapper{
			width: 96%;
		}
		figure {
			display: none;
		}
		figcaption{
			display: none;
		}
		.sec{
			margin-top: 10px;
		}
		tr{
			height: 44px;
			line-height: 44px;
		}
		td{
			width: 50%;
			
		}
	}


